.login-wrapper{
    height: 100vh;   
    background: #46B18A;  
    padding: 0 0.5rem; 
}
.login-wrapper .header , .login-wrapper .sub-header{
    text-align: center;
    color: #ffffff;
    font-weight: 500;
}
.login-wrapper .header{
    font-size: 2.4rem;
    font-weight: 600    ;
    color: #ffffff;
}
.login-wrapper .form{
    padding: 2rem;
    display: flex;
    min-height: 70vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
